@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+SC:wght@300&display=swap');

body {
  background-color: #e4ded6;
  font-family: 'Noto Serif SC', serif;
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width:250px;
}

.item {
  color: #7f70a7;
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  text-decoration: none;
  border: 1px solid #d7c9ec;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.item:hover {
  color: #fff;
  background-color: #948caa;
  border-color: #948caa;
  transform: scale(1.05);
}
.side-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55vw;
  height: auto;
  pointer-events: none;
  opacity: 0.95;
  left: 180px; 
}
