    body {
      background-color: #e4ded6;
      font-family: 'Noto Serif SC', serif;
      color: #6d5b9d;
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column; 
      justify-content: space-between; 
      align-items: center; 
      text-align: center;
      padding: 60px 40px; 
      box-sizing: border-box;
    }

    h1 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      max-width: 600px;
      line-height: 1.8;
    }

    a {
      display: inline-block;
      margin-bottom: 40px;
      color: #b7a7d6;
      text-decoration: none;
      border: 1px solid #d7c9ec;
      padding: 6px 14px;
      border-radius: 10px;
    }

    a:hover {
      background-color: #948caa;
      color: white;
    }